
%h1
  Category:
  = category.name

= render 'shared/error_messages', object: product

%p
  %h2 Products
  %ul.products
    - category.products.each do |product|
      %li
        = link_to product.title, category_product_path(category, product)

  - if category.products.empty?
    no products

- if current_user
  %span.newHidden
    New product 
    %span.arrow &#9660;
  .row
    .col-md-5
      .hiddenForm
        = render 'products/form'

- if current_user && current_user.admin?
  = link_to 'Edit category', edit_category_path(category), class: "btn btn-primary"
  = link_to 'Delete', category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%br
= link_to '<< Back', categories_path, class: "back"
