%p#notice= notice

%p
  %b Title:
  = product.title
%p
  %b Description:
  = product.description
%p
  %b Price:
  = product.price

%p
  %b Category
  = category.name

%h3 Reviews
= render product.reviews

%p
  %h4.newHidden
    New review 
    %span.arrow &#9660;
  .row
    .col-md-5
      .hiddenForm
        = render 'reviews/form'

= link_to 'Edit product', edit_category_product_path(category, product), class: "btn btn-primary"
= link_to 'Delete', category_product_path(category, product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%br
= link_to '<< Back', categories_path
