%h1
  Product:
  = product.title

= render 'shared/error_messages', object: review

%p
  %b Description:
  = product.description
%p
  %b Price:
  = product.price

%p
  %b Category:
  = link_to category.name, category_path(category)

%p
  %b Average rating:
  = product.average_rating

%h2 Reviews
= render product.reviews

- if product.reviews.empty?
  no reviews
  %br

- if current_user
  %span.newHidden
    New review 
    %span.arrow &#9660;
  .row
    .col-md-5
      .hiddenForm
        = render 'reviews/form'

- if product_owner?(product) || is_admin?
  = link_to 'Edit product', edit_category_product_path(category, product), class: "btn btn-primary"
  = link_to 'Delete', category_product_path(category, product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%br
= link_to '<< Back', category_path(category), class: "back"
